@import url('https://fonts.googleapis.com/css?family=Bree+Serif&display=swap');

#header{
    height: 55px;
    width: 100%;
    position: fixed;
    z-index: 100;
}

.logo {
  display: inline-block;
  width: fit-content;
  height: fit-content;
  margin-top: 0;
}

nav {
  width: 100%;
  height: auto;
}

.bg-dark {
  background-color: #092b46!important;
}

#logo-img {
  width: 9vw;
  height: 8vh;
  border: 1px solid whitesmoke;
  border-radius: 50%;
}

@media screen and (max-width: 500px) {
  #logo-img {
    width: 15vw;
  }
}

#navbarSupportedContent{
  margin-top: 0px;
}

button:focus, a:focus {
  outline: none;
}

@media screen and (min-width: 992px) {
  .grid-nav {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    margin-left: auto;
    margin-right: 0!important;
  }
}

.nav-item {
  margin-right: 1vw;
}

@media screen and (max-width: 991px) {
  .grid-nav {
    margin-top: 10px;
  }

  .nav-item {
    margin-right: 0;
  }
}

.nav-link {
  color: whitesmoke !important;
  font-size: 2vw;
  text-align: left;
}

@media screen and (max-width: 500px) {
  .nav-link {
    font-size: 5vw;
  }
}

@media screen and (min-width: 501px) and (max-width: 650px) {
  .nav-link {
    font-size: 4vw;
  }
}

@media screen and (min-width: 651px) and (max-width: 991px) {
  .nav-link {
    font-size: 2.5vw;
  }
}

@media screen and (min-width: 992px) {
  .nav-link {
    color: whitesmoke;
  }
}

.nav-link:hover {
  font-weight: bold;
}

.active-nav {
  background: whitesmoke;
  border-radius: 50%;
}

@media screen and (max-width: 991px) {
  .active-nav {
    border-radius: 0;
  }
}

.active-nav-a {
  font-weight: bold;
  color: #212529!important;
}

.active {
  font-weight: bold;
}

.responsive-nav {
  background: grey;
}

.download {
  color: #66b3ff!important;
  border: 1px solid #66b3ff;
  text-decoration: none;
  background: white;
  padding-right: 1rem!important;
}

@media screen and (max-width: 991px) {
  .download {
    border: none;
    background: none;
    padding-right: 0rem!important;
  }
}

#background-img {
  min-width: 100%;
  background: url('buzzer-phone-view.jpg');
  /*background: url('logo.jpeg');*/
  background-repeat: no-repeat;
  filter: blur(10px);
  -webkit-filter: blur(10px);
}

@media screen and (max-width: 640px) {
  #background-img {
    height: 50vh;
    background: url('buzzer-phone-view.jpg');
    /*background: url('logo.jpeg');*/
    background-size: 100% 50vh;
  }
}

@media screen and (min-width: 641px) and (max-width: 800px) {
  #background-img {
    height: 65vh;
    background: url('buzzer-tab-view.jpg');
    /*background: url('logo.jpeg');*/
    background-size: 100% 65vh;
  }
}

@media screen and (min-width: 801px){
  #background-img {
    height: 80vh;
    background: url('buzzer-desktop-view.jpg');
    /*background: url('logo.jpeg');*/
    background-size: 100% 90vh;
  }
}

.club-name {
  background-color: rgba(0,0,0, 0.4);
  color: white;
  font-weight: bold;
  border: 0.3vw solid #f1f1f1;
  position: absolute;
  top: 35vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  padding: 1vw;
  max-width: 85%;
  width: fit-content;
  height: fit-content;
  text-align: center;
  z-index: 1;
}

.name {
  font-size: 15vw;
  font-family: 'Bree Serif', serif;
}

.reduce-distance {
  font-weight: bold;
  font-style: italic;
  margin-left: 30vw;
  font-size: 3vw;
}

@media screen and (max-width: 450px) {
  .club-name {
    top: 27vh;
  }
}

@media screen and (max-width: 800px) {
  .club-name {
    top: 30vh;
  }
}

.author {
  margin-left: 40vw;
  color: #66b3ff;
  font-size: 2.5vh;
}

.quote-content {
  font-size: 2.5vh;
}

@media screen and (max-width: 640px) {
  .quote-content {
    font-size: 2vh;
  }

  .club-name-reduce-top {
    top: 53vh;
  }

  .author {
    font-size: 2vh;
  }
}

@media screen and (min-width: 641px) and (max-width: 800px) {
  .club-name-reduce-top {
    top: 60vh;
  }
}

@media screen and (min-width: 801px) {
  .club-name-reduce-top {
    top: 70vh;
  }
}

.not-active {
    display: none;
}

.active {
  display: block;
}

#about, #upcoming-events {
  margin-top: 10vh;
  background-color: #fff;
}

#about-h, #events-h, #upcoming-h, #gallery-h, #core-h, #dev-h, #co-ordinate-h, .footer-name-h, #copyright > p {
  text-align: center;
  font-family: 'Bree Serif', serif;
}

#about-h, #events-h, #upcoming-h, #gallery-h, #core-h, #dev-h,  #co-ordinate-h {
  margin-top: 5%;
  font-size: 6vh;
}

#about-p {
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  font-size: 3vh;
  text-align: center;
  font-family: 'Bree Serif', serif;
}

#events-h {
  margin-top: 2%;
}

#events-desktop {
  margin: 5vh;
  display: none;
}

.recommend_block {
  display: block;
  height: fit-content;
  width: fit-content;
  margin-top: 15vh;
  margin-left: 5vh;;
}

.comment_block-left, .comment_block-right {
  display: inline-block;
  width: 54vw;
  font-family: 'Bree Serif', serif;
}

.title {
  color: grey;
  text-align: center;
  font-size: 2vw;
}

.description {
  font-size: 1.25vw;
}

.balloon_img {
  margin-left: 10px;
  margin-top: -140px;
  height: 35vh;
  width: 4vh;
}

.presenter_img-right, .presenter_img-left {
  margin-right: 10px;
  margin-top: -140px;
  width: 30vw;
  height: 35vh;
}

.presenter_img-left {
  margin-left: 10px;
}

#events-mobile-tab {
  display: none;
}

.card {
  top: 0px;
  margin: auto;
  margin-top: 0px;
  font-size: 1rem;
  background: aliceblue;
  margin-bottom: 20px;
  width: 80%;
  perspective: 1000px;
}

.btn-more-less {
  color: whitesmoke!important;
}

/*.front {
  display: block;
}*/

/*.back {
  display: none;
}*/

.card-title {
  font-size: 1.5rem;
}

@media screen and (min-width: 570px) and (max-width: 1214px){
  .card {
    width: 40%;
  }

  .flex-imple-class {
    display: flex;
    flex-wrap: wrap;
  }
}

#gallery {
  background: #fff;
  height: 100vh;
  width: 100%;
}

#gallery-h {
  margin-top: 20px;
}

@media screen and (min-width: 1214px) {
  #gallery-h {
    margin-top: 50px;
  }
}

.change-background-arrow {
  background-color: #000040!important;
}

#carouselExampleInterval {
  height: fit-content;
  margin: 40px;
  margin-bottom: 0;
}

.carousel-indicators {
  padding-bottom: 0!important;
}

.carousel-indicators li {
  width: 2vw;
  height: 0.5vh;
}

.d-block {
  height: 80vh;
}

.carousel-control-next, .carousel-control-prev{
  height: 80vh;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  width: 20vw;
  height: 3vh;
}

@media screen and (max-width: 900px) {
  #gallery {
    height: 80vh;
  }

  .d-block {
    height: 60vh;
    margin: 0px;
    width: calc(100% - 2px);
  }

  #carouselExampleInterval {
    height: fit-content;
    margin: 0px;
    margin-bottom: 0;
  }

  .carousel-control-next, .carousel-control-prev{
    height: 60vh;
  }
}

#core-h {
  margin: 20px;
  margin-top: 8%;
}

#dev-h {
  margin: 20px;
  margin-top: 5%;
}

#co-ordinate-h {
  margin-top: 5%;
  margin-bottom: 10px;
}

.dev {
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);*/
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: auto;
  margin-top: 10vh;
  margin-bottom: 10vh;
  text-align: center;
}

.pic {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

/*@media screen and (min-width: 640px) and (max-width: 850px) {
  .dev {
    width: 45%;
  }

  .pic {
    width: 80%;
    height: 80%;
  }
}*/

@media screen and (min-width: 400px) and (max-width: 850px) {
  .dev {
    width: 45%;
    /*margin: 10%;
    margin-top: 15vh;*/
  }
}

@media screen and (max-width: 399px) {
  .dev {
    width: 100%;
  }
}

.contact-info {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.fafa {
  text-decoration: none;
  font-size: 3vw!important;
  color: black;
}

.footer-fa {
  font-size: 2vw;
}

.contact-info:hover, .fafa:hover {
  opacity: 0.7;
}

.dev > h3 {
  font-size: 2.5vw;
}

.for-devs {
  font-size: 1.5vw;
  margin-bottom: 5px;
}

@media screen and (min-width: 400px) and (max-width: 850px) {
  .dev > h3 {
    font-size: 3.5vw;
  }
  
  .for-devs {
    font-size: 2.5vw;
  }

  .fafa {
    font-size: 5vw!important;
  }
}

@media screen and (max-width: 399px) {
  .dev {
    margin-top: 0;
  }
  .dev > h3 {
    font-size: 5vw;
  }
  
  .for-devs {
    font-size: 3.5vw;
  }

  .fafa {
    font-size: 7vw!important;
  }
}

.flex-imple {
  display: flex;
  flex-wrap: wrap;
}

#footer {
  margin-top: 50px;
  background: #092b46;
  display: inline-block;
  width: 100%;
}

.footer-color {
  color: whitesmoke!important;
}

.footer-margin {
  margin-top: 1%;
  margin-bottom: 1%;
}

.footer-name-h, .footer-nav {
  margin: 0px;
  color: black;
  text-decoration: none;
  font-family: 'Bree Serif', serif;
}

.footer-name-h > a {
  font-size: 4vw;
  color: black;
  text-decoration: none;
}

#footer > .flex-imple {
  width: 100%;
}

.footer-left, .footer-right, .footer-center {
  width: 40%;
  margin-top: auto;
  margin-bottom: auto;
}

.footer-center {
  width: 25%;
}

.footer-right {
  width: 35%;
}

.footer-nav {
  font-size: 1.5vw;
}

.address > a {
  font-size: 2.5vw;
}

.location {
  font-size: 1.5vw;
}

.mail > a {
  margin-bottom: 30px;
  font-size: 1.75vw!important;
}

.number {
  font-size: 1.75vw;
}

.footer-left > h4.address {
  margin-top: 0;
}

@media screen and (max-width: 700px) {
  .footer-left {
    width: 100%;
  }

  .footer-center {
    width: 40%;
  }

  .footer-right {
    width: 60%;
  }

  .footer-left > p {
    text-align: center;
  }

  .footer-name-h > a {
    font-size: 8vw;
  }

  .footer-nav, .number, .mail > a {
    font-size: 4vw!important;
  }

  .address > a {
    font-size: 5vw;
  }

  .location {
    font-size: 3.5vw;
  }

  .connect {
    font-size: 4vw;
  }

  .address {
    font-size: 6vw;
  }

  .footer-fa {
    font-size: 4vw;
  }
}

@media screen and (min-width: 701px) {
  .footer-left > p {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
  }

  .connect {
    font-size: 1.5vw;
  }

  .address {
    font-size: 3vw;
  }
}

.footer-nav {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
}

.footer-nav > a {
  color: black;
  cursor: pointer;
  line-height: 5vh;
}

.address, .number {
  margin-top: 10px;
}

.location, .mail, .footer-nav {
  margin-top: 5px;
}

#copyright {
  background: #212529;
}

#copyright > p {
  font-size: 1.5vw;
  text-align: center;
  margin-bottom: 1px;
  color: whitesmoke;
}

@media screen and (max-width: 500px) {
  #copyright > p {
    font-size: 3vw;
  }
}

#background-img-team {
  min-width: 100%;
  background: url('team.jpg');
  background-repeat: no-repeat;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  height: 80vh;
  background-size: 100% 80vh;
}

.team-name {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  padding: 20px;
  max-width: 80%;
  width: fit-content;
  text-align: center;
  z-index: 1;
}

.name-team {
  margin-bottom: -5px;
  font-size: 10vw;
  font-family: 'Bree Serif', serif;
}

@media screen and (max-width: 640px) {
  .name-team {
    font-size: 10vw;
  }
}